/* TODO Add site wide styles */
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    margin: 0;
}

#root {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 62px minmax(77vh, max-content) 100px;
    grid-template-areas:
    'header'
    'body'
    'footer';
}
